			+------------------+
			|      CS 124      |
			| PROJECT 1: SHELL |
			|  DESIGN DOCUMENT |
			+------------------+
				   
---- GROUP ----

>> Fill in the names and email addresses of your group members.

Vaibhav Anand <vanand@caltech.edu>
Nikhil  Gupta <nkgupta@caltech.edu>
Michael Hashe <mhashe@caltech.edu>

>> Specify how many late tokens you are using on this assignment:  
1 late token

>> What is the Git repository and commit hash for your submission?
   (You only need to include the commit-hash in the file you submit
   on Moodle.)

   Repository URL:  https://github.com/MichaelHashe/CS124-OS
   commit ...                             

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please include them here.

extra credit:
	multi-line commands
	append output redirection (>>)
	redirection of stderr (2>)
    history command and associated functionality
    allowed to run old command with !n

extra functionality:
    replace home directory with ~
    color prompt in shell
    valgrind reports no lost memory

required packages:
  	libreadline-gplv2-dev

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course instructors.

Stack Overflow, random C documentation, man pages, 
https://cnswww.cns.cwru.edu/php/chet/readline/history.html
https://github.com/shiena/ansicolor/blob/master/README.md

			   COMMAND SHELL
			   =============

---- LOGISTICS ----

These questions will help us to keep track of the difficulty level of
assignments, as well as keeping track of which team members worked on
which parts.

>> L1: How many hours did each team member spend on this assignment?
   Make sure that each member's total time is listed.

Vaibhav: ~20 hours
Nikhil : ~15 hours
Michael: ~15 hours

>> L2: What did each team member focus on for this assignment?  Keep
   descriptions to 25-30 words or less.

Vaibhav: Vaibhav focused on the command execution including redirecting i/o 
and piping.
Nikhil: Nikhil focused on the tokenizer, main loop, and history implementation.
Michael: Michael focused on the command parser (putting the tokens into structs)
and main loop.

---- DATA STRUCTURES ----

>> A1: Describe how your command shell manages parsing and executing
>> commands that contain arguments and pipes, using the example
>> command "a arg1 arg2 | b arg1 | c arg1 arg2 arg3".  How does your
>> shell internally represent such a command?

First, the line is tokenized into its component pieces such as words, strings,
redirects, pipes, etc. An array of these tokens is passed into a command
parser.

This information is then organized into a linked list of command structs, into 
which i/o redirection information and arrays of arguments are placed.
In the example above, the line would be processed into a linked list of 
three commands:
    {exec:"a", args:["arg1", "arg2", NULL], "in":null, "out":null, 
    	out_a:0, err_a:0, next:ptr}
    {exec:"b", args:["arg1", NULL], "in":null, "out":null, 
    	out_a:0, err_a:0, next:ptr}
    {exec:"c", args:["arg1", "arg2", "arg3", NULL], "in":null, "out":null, 
    	out_a:0, err_a:0, next:null}

Note that:
    -"in" and "out" refer to the i/o redirection form (<, >, >>) in command 
     and not piping (which is below) i/o redirection
    -out_a and err_a are booleans, determining whether we should append to or
     write to the output_fn and error_fn files.

This is the actual struct for a command:
struct command {
    char *exec_fn; // Filename of executable (ie. "ls", "cat", etc)

    char **argv; // List of args for executable

    // Filenames for input/output/error redirection (null if doesn't exist) 
    char *input_fn;
    char *output_fn;
    char *error_fn;

    // Output/error append flags (whether to open file for write or appending)
    int out_a;
    int err_a;

    struct command *next; // refers to next command if not null
};


>> A2: Now, given the command:
>> "a arg1 arg2 < inp.txt | b arg1 | c arg1 arg2 arg3 > out.txt"
>> Briefly explain specifically how the redirections are parsed and
>> represented, and by what processes.

In this specific example, the command would first be tokenized. Since this is a 
"nice" command, it would just be tokenized by separating by spaces.

In creating the command object, all tokens for a particular command are 
sequentially examined. Once we reach a redirect command, the following token
is stored in in the appropriate *_fn pointer, i.e. once we read an input token,
we store the immediately following token in input_fn. This parsing is handled
in com_parser.c

All parsing occurs in the main shell process. The execution and redirection is 
done in spawned child processes for each command between pipes.


---- ALGORITHMS ----

>> A3: Illustrate how you solved the problem of setting up
>> redirection in a simple command like "a < inp.txt > out.txt", by
>> describing what process takes care of the redirection and when.

All i/o redirection occurs after forking commands.

The process for command "a" is forked off from the shell process (after 
creation of pipes, if any). 

This single child process contains a corresponding command struct cmd, 
containing any redirection information. For the provided example, it would have  
cmd->input_fn = inp.txt and cmd->output_fn = out.txt. 
It redirects its stdin to inp.txt and its stdout to out.txt from this info.


>> A4: Illustrate how you solved the problem of setting up the pipes
>> between multiple operations in a single command, by describing
>> what each process is responsible for.  For example, given the
>> command "a | b | c", describe the sequence of steps in setting up
>> the processes and their pipes, starting with your command shell's
>> process, and going through the execution of programs a, b and c.
>> Keep your description of each process' responsibilities limited to
>> ~25 words or less.

The shell process sets up the needed pipes and command structs before forking.
Next, the child processes redirect stdin/stdout using the pipes.


>> A5: Similarly, describe the details of how terminated processes are
>> reaped in the example command "a | b | c".

The main shell process, which spawned each of the process for "a", "b", and 
"c", waits in a while loop for all children to terminate using wait().
It stops when wait() returns a code signifying the process has no more children.


>> A6: Similarly, describe which processes are responsible for setting
>> up the redirections in the example command
>> "a < inp.txt | b | c > out.txt".

Shell process creates 2 pipes with descriptors [write:fd0, read:fd1] and 
[write:fd2, read:fd3]. It will closes them after spawning children "a", "b", "c"
Process of "a" redirects inp.txt to its stdin and its stdout to fd0
Process of "b" redirects fd1 to its stdin and its stdout to fd2
Process of "c" redirects fd3 to its stdin and its stdout to out.txt

---- RATIONALE ----

>> A7: Why must the chdir and exit commands be implemented as built-in
>> functions, rather than external programs?

If they are treated as external programs, they will be executed after being 
forked from the main shell. Changing the directory after forking will just 
apply to the forked command and not the shell. Exiting will just terminate the 
forked command and not the shell.

Also, they must be built in functions in case everything breaks (you override 
the PATH variable, delete the bin directory, etc.), you still want some basic
functionality such as the ability to exit the shell or move around to see what
is wrong.


>> A8: Why did you ultimately choose this design?  In what ways is it
>> superior to other designs you considered as you developed your solution?

We chose to do all i/o redirection after forking so that the processes 
could not overlap any stdin/stdout and the number of open file descriptors in 
each is minimized.

We chose a layered design (handle all pipe i/o first, then overwrite (if 
needed) with file i/o to prevent possible sources of error in complex 
management/memory of what has been already redirected to what.

We chose to contain all command information in a struct, rather than passing
around as args to isolate any parsing from execution (parse to struct, then
execute struct) since execution is facilitated if we can make assumptions about
what to expect.


>> A9: Did you take any steps to facilitate development of the command
>> shell in parallel, e.g. designing shared data structures or integration
>> points up front?  How well did your approach work for your team?  Feel
>> free to share any positive or negative experiences in this vein.

We split the project up into relatively distinct chunks: main loop, tokenizing,
parsing, execution. The main integration point was the specific structure the
tokens were parsed into. This was one of the later pieces actually implemented
so we designed a basic struct to use for the execution piece.


			  SURVEY QUESTIONS
			  ================

Answering these questions is optional, but it will help us improve the
course in future years.  Feel free to tell us anything you want - these
questions are just to spur your thoughts.  Also, feel free to be completely
honest if there are issues with the assignment or the course - you won't be
penalized.  We can't fix things until we know about them.  :-)

>> In your opinion, was this assignment, or any of the parts of it, too
>> easy or too hard?  Did it take too long or too little time?

We didn't think there were any particularly difficult or easy parts of the
assignment. It was overall a pretty good assignment with it taking about the
proper time.

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

Having to setup all the file descriptors to redirect inputs and outputs gave a
lot of insight into how the system actually opens and maintains files.

>> Were there any parts of the assignment that you felt were unnecessarily
>> tedious or pointless?

Not really.

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the instructor and/or TAs to more
>> effectively assist students, either for future quarters or the remaining
>> projects?

One thing that could be nice is clarifying what edge cases need to be handled.
One example was that running echo hel"hi"lo prints helhilo which is a little
odd.

>> Any other comments?

